@charset "utf-8";

/* メインカラー

グレーバック #E9E9E9
グレーアクセント #CDCDCD
ブルーメイン #2988bc
ブルーアクセント #2571f5
ブルーサブ #99D3DF
オレンジサブ #ffdd33

*/

.site_header01{
    background: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: auto;
}
.site_header02{
    background: #2571f5;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: auto;
}

.site_logo{
    height: 40px;
}

.gnav{
    display: flex;
    align-items: center;
}

.gnav_menu{
    display: flex;
    padding-right: 30px;
}

.gnav_menu_item01{
    margin-left: 30px;
    margin-right: 10px;
}

.gnav_menu_item02{
    margin-left: 30px;
    margin-right: 10px;
}

.gnav_menu_item01 a{
    color: #2988bc;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;

    border: 2px solid;
    border-color:transparent;
    border-radius: 8px;
    background: #ffdd33;
    
}

.gnav_menu_item02 a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}


.index_background{
    /* background: linear-gradient(315deg,#99D3DF,#E9E9E9); */
    background : #E9E9E9;
    height:auto;
}

.function_list{
    margin: 20px 20px 20px 20px;
    padding: 10px;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    
}

.catch_copy{
    height:250px;
    width:500px;
    margin:10px;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    display: flex;
    flex-direction:column;
    justify-content:space-evenly;
    color:#ffffff;
    border: 5px solid;
    border-color: #ffffff;
    border-radius: 8px;
    background:#2571f5;
}

.catch_copy_title{
    font-size: 36px;
    line-height:1.5em;
    text-decoration: underline;
    color: white;
}

.catch_copy_subtitle{
    font-size: 20px;
}

.user_register{
    height:150px;
    width:500px;
    margin:10px;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    display: flex;
    flex-direction:column;
    justify-content:space-evenly;
    color:black;
    border: 5px solid;
    border-color: #ffffff;
    border-radius: 8px;
    background:#ffdd33;
}

.user_register_text{
    font-size: 36px;
    line-height:1.5em;
    text-decoration: underline;
    color:black;
    letter-spacing: 0.2em;
}

.main_function{
    height:500px;
    width:800px;
    margin:10px;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    display:flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-content: space-around;
    color:#ffffff;
    border: 5px solid;
    border-color: #ffffff;
    border-radius: 8px;
    background:#99D3DF;
}

.function_picture{
    height:200px;
    width:300px;
    margin:10px;
    color:black;
    font-size: 18px;
    text-decoration:none;
}

.function_picture img{
    height:180px;
    width:250px;
    margin:10px;
    color:black;
    font-size: 18px;
    text-decoration:none;
}

/* 
LOGINフォーム関連
*/

.login_form_frame{
    height:350px;
    width:800px;
    margin:10px auto 10pc auto;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    display: flex;
    flex-direction:column;
    justify-content:space-evenly;
    color:black;
    border: 5px solid;
    border-color: #ffffff;
    border-radius: 8px;
    background:#99D3DF;
}

.login_form_frame form{
    display: flex;
    justify-content:space-evenly;
    align-items:center;
    flex-direction: column;
}

.login_form_button{
    margin: 20px;
    width: 400px;
    height: 36px;
    border: 2px solid;
    border-color: #ffffff;
    border-radius: 8px;
    background:#ffdd33;
    font-size: 18px;

}

.login_form_input{
    border-collapse: collapse;
}

.login_form_input th,td{
    padding:10px;
    width: 600px;
    border:solid 2px black;
    background:#E9E9E9;
}

.login_form_input input{
    padding:10px;
    width: 500px;
    border:solid 2px black;
    background: white;
}

/* 
配船登録管理関係
*/
.shipment_register{
    margin:20px;
    width: auto;
    display: flex;
    justify-content:center;
}

.shipment_register_button{
    padding: 20px;
    width: auto;
    border: 2px solid;
    border-color: #ffffff;
    border-radius: 8px;
    background:#ffdd33;
    font-size: 18px;
    letter-spacing: 0.2em;
}

.shipment_delete_form{
    display: flex;
    justify-content:center;
}


.shipment_delete_button{
    padding: 20px;
    width: 500px;
    border: 2px solid;
    border-color: #ffffff;
    border-radius: 8px;
    background:red;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0.2em;
}

.shipment_table01{
    margin: 20px;
    width: auto;
    display: flex;
    justify-content:space-evenly;
    align-items:center;

}

.shipment_table02{
    border: 2px solid;
    border-color: #E9E9E9;
    border-radius: 8px;
    background:white;
    border-collapse: collapse;   
    text-align: center;
}


.shipment_table02 th{
    width:250px;
    height:30px;
    padding:2px;
    line-height: 30px;
    border: 2px solid;
    background-color: #99D3DF;
    border-color: #E9E9E9;
    border-radius: 8px;
}

.shipment_table02 td{
    width:250px;
    height:30px;
    padding:2px;
    line-height: 30px;
    background:white;
    border: 2px solid;
    border-color: #E9E9E9;
    border-radius: 8px;
}

.shipment_table03{
    border: 2px solid;
    border-color: #E9E9E9;
    border-radius: 8px;
    background:white;
    border-collapse: collapse;   
    text-align: center;
}


.shipment_table03 th{
    width:250px;
    height:30px;
    padding:2px;
    line-height: 30px;
    border: 2px solid;
    background-color: #99D3DF;
    border-color: #E9E9E9;
    border-radius: 8px;
}

.shipment_table03 td{
    width:250px;
    height:30px;
    padding:2px;
    line-height: 30px;
    background:white;
    border: 2px solid;
    border-color: #E9E9E9;
    border-radius: 8px;
}

.shipment_table03 input{
    margin:2px;
    width:95%;
}

/* 
SHIPMENT_INPUT関連
*/
.shipment_table04_outline{
    padding:5px;
    background:white;
    border-radius: 8px;
}

.shipment_table04{
    border: 2px solid;
    border-color: #E9E9E9;
    background:white;
    border-collapse: collapse;   
    text-align: center;
    font-size: 12px;
}

.shipment_table04 th{
    width:150px;
    height:20px;
    padding:1px;
    line-height: 20px;
    border: 1px solid;
    background-color: white;
    border-color: #E9E9E9;
}

.shipment_table04 td{
    width:150px;
    height:20px;
    padding:1px;
    line-height: 20px;
    border: 1px solid;
    background-color: white;
    border-color: #E9E9E9;
}

.shipment_table04 input{
    margin:2px;
    width:95%;
}


.shipment_table05_outline{
    padding:5px;
    background:white;
    border-radius: 8px;
}

.shipment_table05{
    border: 2px solid;
    border-color: #E9E9E9;
    background:white;
    border-collapse: collapse;   
    text-align: center;
    font-size: 16px;
}

.shipment_table05 th{
    width:500px;
    height:40px;
    padding:1px;
    line-height: 40px;
    border: 2px solid;
    background-color: #ffdd33;
    border-color: #E9E9E9;
}

.shipment_table05 td{
    width:250px;
    height:40px;
    padding:2px 20px 2px 20px;
    line-height: 40px;
    border: 1px solid;
    background-color: white;
    border-color: #E9E9E9;
}

.shipment_table05 input{
    margin:2px;
    width:95%;
}

.key_event_register_button{
    margin: 15px 0 15px 0;
    padding: 10px;
    border: 2px solid;
    border-color: #ffffff;
    border-radius: 8px;
    background:#2571f5;
    color:white;
    font-size: 18px;
    letter-spacing: 0.2em;
}

.hr01{
    border-top:3px dashed #2571f5;
}

.event_table01{
    margin : 10px;
    padding : 10px;
    height: auto;
    width: auto;
    background:white;
    border-radius: 8px;
    display: flex;
    justify-content:space-evenly;
    align-items:center;
}

.event_table03{
    border: 2px solid;
    border-color: #E9E9E9;
    border-radius: 8px;
    background:white;
    border-collapse: collapse;   
    text-align: center;
}


.event_table03 th{
    width:250px;
    height:30px;
    padding:2px;
    line-height: 30px;
    border: 2px solid;
    border-color: white;
    background-color: #E9E9E9;
}

.event_table03 td{
    width:250px;
    height:30px;
    padding:2px;
    line-height: 30px;
    background:white;
    border: 2px solid;
    border-color:transparent;
}
